/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

:root {
  --cc-orange: #f39305;
  --cc-egg: #fff6e9;
  --cc-text-lightmode: black;
  --cc-text-darkmode: white;
  --cc-secondary-text-lightmode: #1e293b;
  --cc-textfields: #e2e8f0;
  --cc-placeholders: #d9d9d9;
}

@font-face {
  font-family: 'SourceSans3-Regular';
  src: url('@/assets/fonts/SourceSans3-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SourceSans3-Semibold';
  src: url('@/assets/fonts/SourceSans3-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Abadi Condensed Extra Bold';
  src: url('@/assets/fonts/Abadi Condensed Extra Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'abadi-mt-condensed-light-regular';
  src: url('@/assets/fonts/abadi-mt-condensed-light-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AbadiMTStd-CondBold';
  src: url('@/assets/fonts/AbadiMTStd-CondBold.otf') format('opentype');
}
