@import './base.css';
:root {
  --cc-orange: #f39305;
  --cc-egg: #fff6e9;
  --cc-text-lightmode: black;
  --cc-text-darkmode: white;
  --cc-secondary-text-lightmode: #1e293b;
  --cc-textfields: #e2e8f0;
  --cc-placeholders: #d9d9d9;
}

@font-face {
  font-family: 'Abadi MT Condensed Extra Bold';
  src: url('@/assets/fonts/Abadi MT Condensed Extra Bold');
  font-family: 'Abadi MT Condensed Light';
  src: url('@/assets/fonts/Abadi MT Condensed Light');
  font-family: 'SourceSansPro-Regular';
  src: url('@/assets/fonts/SourceSansPro-Regular.otf');
  font-family: 'SourceSansPro-Bold';
  src: url('@/assets/fonts/SourceSansPro-Bold.otf');
  font-family: 'SourceSansPro-Light';
  src: url('@/assets/fonts/SourceSansPro-Light.otf');
  font-family: 'SourceSansPro-Semibold';
  src: url('@/assets/fonts/SourceSansPro-Semibold.otf');
  font-family: 'SourceSansPro-It';
  src: url('@/assets/fonts/SourceSansPro-It.otf');
}

/* html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

button,
button * {
  box-sizing: border-box;
  cursor: pointer;
}

a {
  color: var(--cc-orange);
} */
