@import './base.css';

*,
*::before,
*::after {
  font-family: 'SourceSans3-Regular';
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  /* color: var(--cc-secondary-text-lightmode); */
  /* OVERWRITES FAVORITE ICON Color*/
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h1 {
  font-family: 'Abadi Condensed Extra Bold';
  font-size: 2rem;
  color: var(--cc-orange);
  text-transform: uppercase;
}

h2,
h3 {
  font-family: 'abadi-mt-condensed-light-regular';
  font-size: 1.5rem;
  color: var(--cc-text-lightmode);
}

button,
button * {
  box-sizing: border-box;
  cursor: pointer;
}

a {
  color: var(--cc-orange);
}

.floating-title {
  position: relative;
  padding: 8px 0 0px 0;
}

.floating-title textarea {
  margin-top: 15px;
  border-radius: 10px;
  width: 90%;
  padding-left: 18px;
  padding-top: 35px;
  border-radius: 10px;
  border: 2px solid #fff6e9;
  background-color: #fff6e9;
  font-size: 14px;
}

.floating-title input {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 8px;
  border-radius: 10px;
  border: 2px solid #fff6e9;
  background-color: #fff6e9;
  font-size: 14px;
}

.floating-title input:focus,
.floating-title textarea:focus {
  outline: none;
  border-color: #f39305;
}

.floating-title label {
  position: absolute;
  top: 10%;
  left: 10px;
  padding: 10px;
  pointer-events: none;
  transition: all 0.2s;
  transform-origin: left top;
  transform: scale(1);
  color: #1e293b;
}

.floating-title input:placeholder-shown + label,
.floating-title textarea:placeholder-shown + label {
  transform: translate(0, 10px) scale(1);
}

.floating-title input:not(:placeholder-shown) + label,
.floating-title textarea:not(:placeholder-shown) + label,
.floating-title input:focus + label,
.floating-title textarea:focus + label {
  transform: translate(0, 5px) scale(0.75);
  color: #1e293b;
}
